{% extends 'base.html' %}

{% block title %}
Bosh sahifa
{% endblock %}
<style>
    .container {
        display: flex;
    }
</style>
{% block content %}

<div class="container">

    <h1 style="color: royalblue ">O'zbek Taomlari</h1>

    <p>O‘zbek oshxonasi Markaziy Osiyodagi eng rang-barang taomlardan biridir. Bu yerda haqiqiy gurmeler va sharqona
        mehmondo'stlikni biluvchilar uchun taomlar tayyorlanadi. Mintaqaning o‘troq va ko‘chmanchi xalqlarining asrlar
        davomida yig‘ilgan oshpazlik an’analari bugungi kunda barchamiz uchun o‘zbek oshxonasining mazali taomlaridan
        yagona va tushunarli retsept boshqotirmasiga jamlangan.</p>

    <p align="center"><img style="width: 600px; height: 414px;"
                           src="https://api-portal.gov.uz/uploads/a3ad99dc-7938-408a-0306-64446234132b_media_.jpg"
                           alt=""></p>

    <p style="text-align: justify;">O‘zbek taomlarida sho‘rvalar va bulyonlar muhim o‘rin tutadi. Milliy oshlar juda boy
        va qalin. Sho‘rvalarning asosiy tarkibiy qismlari bapran yoki mol go'shti, sabzavotlar - piyoz, kartoshka,
        pomidor va boshqalar va, albatta, an’anaviy ziravorlar - zira (zirk), qizil yoki qora qalampir, koriander, dafna
        yaprog‘i va boshqalar.&nbsp;O‘zbeklar orasida sho‘rpa, mastava, mashxurda va boshqalar mashhur.&nbsp;</p>

    <p style="text-align: justify;">Ko‘cha bo‘ylab tarqalgan mazali panjara go‘shtining ta'riflab bo‘lmaydigan hidi
        hammaga tanish. Go‘sht O‘zbekistonda juda mashhur va bu erda uning ko‘p qismi tayyorlanadi. Va hamma biladiki,
        eng mazali go'sht shish kebab, shishlarda go‘sht, yaxshi marinadlangan va ochiq olovda pishirilgan.&nbsp;</p>

    <p align="center"><img style="width: 600px; height: 399px;"
                           src="https://api-portal.gov.uz/uploads/23f4a656-39f6-8b09-8997-f5ebd2fc6a4f_media_.jpg"
                           alt=""></p>

    <p style="text-align: justify;">O‘zbek kaboblari - bu nafis va suvli go‘sht nimani anglatishini bilish uchun noyob
        imkoniyat. Hech bo'lmaganda bir marta xushbo‘y kabobning erigan bo'lagini tatib ko‘rgan bo‘lsangiz, to‘xtab
        qolishning iloji yo‘q. O‘zbekistonda kabobning ko‘p turlari pishiriladi. Klassik o‘zbek kabobi - ziravorlar va
        ziravorlar bilan to‘g‘ri marinadlangan, dumbaning kichik bo'laklari (qo‘zichoq yog‘i) bilan to‘ldirilgan eng
        yumshoq go‘sht. Bu kabob, qoida tariqasida, qo‘zichoqdan tayyorlanadi. Ammo kabobning boshqa turlari ham bor:
        jigar kabob (mol jigari kabobi), tovuq kabobi (tovuq), Beshpanja (bir vaqtning o‘zida beshta shish paydo
        bo‘ladi), chorvi kabob (eritilgan yog‘&nbsp;bilan qoplangan go‘sht).&nbsp;Lekin eng keng tarqalgan shish kebab
        va mahalliy aholining sevimlisi - Kiyma shish kebab. Bu maydalangan qo‘zichoq shishi. Go‘sht og‘izda eriydi va
        yoqimli ta'm qoldiradi. Qattiq qovurilgan qobiqdagi elastik go'sht tilda miltillaydi, pishirilgan dumbaning
        ajoyib ta'mi va ajoyib ziravorlar guldastasiga ega.</p>

    <p align="center"><img style="width: 600px; height: 391px;"
                           src="https://api-portal.gov.uz/uploads/0a73d209-ec9f-a427-6f6f-5f5c48f53b75_media_.jpg"
                           alt=""></p>

    <p style="text-align: justify;">Palov - O‘zbekistonning an’anaviy taomidir. Bu mazali taom juda oddiy
        ingredientlardan tayyorlanadi: guruch, go‘sht, ziravorlar, sabzi va piyoz. Palov kundalik va bayram taomi
        sifatida - ayniqsa to‘y, ziyoratdan qaytish, bola tug‘ilishi, yubiley, dafn marosimi kabi tadbirlarda,
        shuningdek, muhtojlarga yordam sifatida taqdim etiladi. O‘zbek palovi sharqona taomlarni biluvchilar va haqiqiy
        gurmelerning taomidir. Dunyoda 100 dan ortiq palov retseptlari mavjud bo'lib, O‘zbekiston o‘zining imzo
        versiyalari bilan maqtanishi mumkin.</p>

    <p style="text-align: justify;">O‘zbekistonning har bir hududida palov o‘ziga xos retsept bo‘yicha tayyorlanadi.
        Masalan, Toshkentda bayramona “Bayram osh” palovini tayyorlashsa, Andijonda palovga uzum bargidan “Qovatok
        palov” karam bulonini qo‘shishni yaxshi ko‘radilar, Xivada palovning eng deistik variantini Xorazmdagi “Chalov”
        tayyorlaydilar.&nbsp;2016-yilda palov tayyorlash madaniyati va an’analari UNESCOning Nomoddiy madaniy merosi
        Reprezentativ ro‘yxatiga kiritilgan.</p>

    <p align="center"><img style="width: 600px; height: 399px;"
                           src="https://api-portal.gov.uz/uploads/3089a08e-7386-8eff-abe7-fadfea45ce96_media_.jpg"
                           alt=""></p>

    <p style="text-align: justify;">O‘zbek samsasi kabi noziklikka qarshi turishning iloji yo‘q. Samsani bemalol o‘zbek
        xalqining faxri deb atash mumkin. Mazali, xushbo‘y, issiq, mehr bilan pishirilgan samsa o‘zbek dasturxonida
        alohida o'rin tutadi.&nbsp;Samsaning bir necha o'nlab navlari mavjud bo‘lib, ular bir-biridan nafaqat retsept va
        to'ldirishda, balki xarakterli pishirish texnologiyasida ham farqlanadi. Odatda u mayda to‘g‘ralgan go‘sht yoki
        qiyma go‘sht bilan tayyorlanadi, ammo plomba sifatida qovoq, ismaloq, kartoshka, tovuq go‘shti ishlatiladigan
        original variantlar ham mavjud.</p>

    <p style="text-align: justify;">Samsa, kek kabi, maxsus loydan tayyorlangan pechda - tandirda pishiriladi. Bunday
        pech un mahsulotlariga beqiyos ta’m va xushbo‘ylikni beradi, shuningdek, barcha foydali xususiyatlarni saqlashga
        imkon beradi. Tandirning bir nechta turlari mavjud, eng keng tarqalganlari vertikal va gorizontaldir.&nbsp;Samsa
        uchun shakllar, o‘lchamlar, xamir turlarini tanlash hayratlanarli. Ana shunday damlarda o‘zbek xalqining
        gastronomiya san’atida naqadar ijodkor va mahoratli ekanini anglab yetasiz. Bu yerda siz yarim sharsimon samsa,
        ikki juft samsa, puf va qovurilgan samsa, pishirilgan samsadan tanlashingiz mumkin.</p>

    <p style="text-align: justify;">Mamlakatning har bir mintaqasida samsa o‘ziga xos tarzda yashirin ingredientlar va
        katta mahorat talab qiladigan maxsus mahorat bilan pishiriladi. Masalan, bunday samsa Jizzax samsasi kabi
        mashhur - katta, go‘shtli; Buxoro samsasi - pishirilgan va uchburchak; Alatskaya samsa - eng nozik xamir va
        suvli to‘ldirish bilan; Qarshi samsasi - barmoq shaklidagi va ko'rinishi nafis; Xorazm samsasi - qovurilgan,
        qiyma bilan, kuk-samsa - ko‘katlar va ismaloq bilan.</p>

    <p style="text-align: justify;">O‘zbekistonning har bir hududi o‘ziga xos go‘sha, go‘zal va betakror tabiatga ega
        o‘ziga xos zamindir. O‘zbek dehqonlarining sa’y-harakatlari va g‘amxo‘rligi tufayli o‘zbek unumdor zaminida
        tasavvur qilib bo‘lmaydigan ildiz mevalari yetishtirilib, undan eng mazali va foydali salatlar tayyorlash
        mumkin.</p>

    <p align="center"><img style="width: 600px; height: 521px;"
                           src="https://api-portal.gov.uz/uploads/a6782ca4-a8f5-4619-e6ba-c14463cd9dab_media_.jpg"
                           alt=""></p>

    <p style="text-align: justify;">O‘zbekistonda sabzavotlarning xilma-xilligi hayratlanarli. Ammo, ehtimol, hamma
        uchun eng sevimli va taniqli salat - bu pomidor va piyozning an’anaviy salatasi bo'lib, unga bolgar va achchiq
        qalampir qo'shiladi. O‘zbekistonda bunday salat Achchik-chuchuk deb ataladi. Achchik-chuchuk salatasi eng yaxshi
        sovuq taom sifatida xizmat qiladi va issiq palov yoki barbekyu bilan xizmat qiladi.</p>

    <p style="text-align: justify;">O‘zbekistonliklar sovuq mavsumda Marg‘ilon turpidan salat tayyorlashni yaxshi
        ko‘radilar. Eng mashhur salatlardan biri anor urug'i bilan turp salatasi yoki Anor va turp salatidir. Salat
        uchun turp ingichka chiziqlar bilan kesiladi va anor urug'lari qo'shiladi. Natijada, salat yoqimli bog'lovchi va
        anorning engil nordonligi bilan olinadi. Ushbu salat foydali vitaminlar va minerallarning haqiqiy omboridir.
        Erta bahorda o‘zbekistonliklar turp va tuxumdan salat – Turp va tuxum salatini tayyorlashni yaxshi ko‘radilar.
        Qoida tariqasida, pushti-qizil rangdagi Bolgarskaya navining turplari salat uchun ishlatiladi, shuningdek,
        Maiskaya navi ham salat uchun juda yaxshi. Natijada, salat turp va tuxumning kichik bo'laklaridan olinadi,
        o'tlar bilan sepiladi va smetana bilan ziravorlanadi.&nbsp;Yana bir vitaminli salat karam va bulg‘or qalampiri
        salatasi – Karam va qalampir salatidir. Yog‘&nbsp;bilan sug‘orilgan to‘g‘ralgan karam va bolgar qalampir
        aralashmasi asosiy taomga qo‘shimcha sifatida ajoyib tanlov bo'ladi.</p>

</div>
{% endblock %}

